<h1>Show Customer</h1>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @customer.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @customer.email %>
  </li>
</ul>

<%= if @customer.balance === nil do %>
  <%= render "add_balance.html", customer: @customer, changeset: @changeset, action: Routes.customer_customer_path(@conn, :add_balance, @customer) %>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Balance</th>
        <th>Balance Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$ <%= @customer.balance.amount %></td>

        <td><%= @customer.balance.id %></td>
      </tr>
    </tbody>
  </table>
<% end %>


<span><%= link "Back", to: Routes.customer_path(@conn, :index) %></span>
